@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-100: #00b4c9;
    --accent-200: #04a2b3;
    --accent-300: #1594a1;
    --accent-400: #238993;
    --accent-500: #2e8088;
    --accent-600: #37797f;
    --accent-700: #3e7378;
    --accent-800: #446e72; /* base-color */
    --accent-900: #4a6a6e;

    --base-100: #f1e4d5;
    --base-200: #eee4d8;
    --base-300: #ece4da;
    --base-400: #eae4dc;
    --base-500: #e9e4dd;
    --base-600: #e8e4de;
    --base-700: #e7e4df;
    --base-800: #e6e4e0; /* base-color */
    --base-900: #e5e4e1;

    --text-100: #3f270e;
    --text-200: #3a2713;
    --text-300: #362717;
    --text-400: #33271a;
    --text-500: #30271c;
    --text-600: #2e271e;
    --text-700: #2c2720;
    --text-800: #2b2721; /* base-color */
    --text-900: #2a2722;

    --accent-color: rgb(180, 188, 78);
    --base-color: rgb(255, 251, 236);
    --text-color: rgb(107, 94, 86);

    --accent-color-60: rgba(180, 188, 78, 0.6);
    --text-color-60: rgba(107, 94, 86, 0.6);
}

body {
    color: var(--text-color);
    /* border-color: var(--text-color); */
    background-color: var(--base-color);
    font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", "YuGothic",
        "Hiragino Sans", Meiryo, sans-serif;
}

main {
    padding-top: 88px;
}

input {
    outline: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.square-spin-2 {
    --size: 120px;
    --stroke-width: calc(var(--size) / 6);
    --color: currentColor;
    --animation-timing-function: linear;
    --animation-duration: 2s;
    width: var(--size);
    height: var(--size);
    background-image: radial-gradient(
            circle at var(--stroke-width) var(--stroke-width),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        ),
        radial-gradient(
            circle at calc(100% - var(--stroke-width)) var(--stroke-width),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        ),
        radial-gradient(
            circle at calc(100% - var(--stroke-width))
                calc(100% - var(--stroke-width)),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        ),
        radial-gradient(
            circle at var(--stroke-width) calc(100% - var(--stroke-width)),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        );
    animation: var(--animation-timing-function) var(--animation-duration)
        infinite square-spin-2-animation;
}

.button,
.a {
    @apply m-2 p-3 rounded-lg bg-accent-800 text-base-800;
}

.thead-td {
    @apply [&:not(:last-child)]:border-r border-base-800 p-2;
}

.thead-tr {
    @apply border border-text-800 bg-text-800 text-base-800;
}

.tbody-td {
    @apply border border-text-800 p-2;
}

@media (max-width: 480px) {
    body {
        font-size: 10px !important;
    }
}

@keyframes square-spin-2-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
