@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-500: #344699;
    --accent-opacity: rgba(78, 96, 178, 0.3);

    --base-500: #fbfcff;
    --text-500: #2b262e;
}

body {
    color: var(--text-500);
    /* border-color: var(--text-color); */
    background-color: var(--base-500);
    font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", "YuGothic",
        "Hiragino Sans", Meiryo, sans-serif;
}

main {
    padding-top: 88px;
}

input {
    outline: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.square-spin-2 {
    --size: 120px;
    --stroke-width: calc(var(--size) / 6);
    --color: currentColor;
    --animation-timing-function: linear;
    --animation-duration: 2s;
    width: var(--size);
    height: var(--size);
    background-image: radial-gradient(
            circle at var(--stroke-width) var(--stroke-width),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        ),
        radial-gradient(
            circle at calc(100% - var(--stroke-width)) var(--stroke-width),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        ),
        radial-gradient(
            circle at calc(100% - var(--stroke-width))
                calc(100% - var(--stroke-width)),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        ),
        radial-gradient(
            circle at var(--stroke-width) calc(100% - var(--stroke-width)),
            var(--color) 0%,
            var(--color) var(--stroke-width),
            transparent var(--stroke-width),
            transparent 100%
        );
    animation: var(--animation-timing-function) var(--animation-duration)
        infinite square-spin-2-animation;
}

.link {
    @apply text-accent-500 underline opacity-80 hover:opacity-100;
}

.thead-td {
    @apply [&:not(:last-child)]:border-r border-base-500 p-2 font-bold;
}

.thead-tr {
    @apply border border-text-500 bg-text-500 text-base-500;
}

.tbody-td {
    @apply border border-text-500;
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

@keyframes square-spin-2-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
