@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow: hidden;
    color: #86efac;
    border-color: #86efac;
    background-color: black;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgb(0, 0, 0) inset !important;
    -webkit-text-fill-color: #86efac !important;
}

input:-webkit-autofill:focus {
    caret-color: #86efac !important;
}

body {
    padding-top: 100px;
}

.fixed-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #86efac;
    border-right: 1px solid #86efac;
    border-bottom: 1px solid #86efac;
    background-color: transparent !important;
    pointer-events: none;
}

button:hover {
    color: black;
    background-color: #86efac;
}